<!DOCTYPE html>
<html lang="en">
	<% include ../partial/head %>
	<body>
		<div id="mycontent">
	    	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1200px-Node.js_logo.svg.png">
	    	<h1>Welcome to my website</h1>
	    	<h2>My web applications</h2>
	    	<ul>
			    <li>My resume</li>
			    <li>My chatroom</li>
	    	</ul>
	    </div>
		<% include ../partial/scripts %>
	</body>
</html>