<!DOCTYPE html>
<html lang="en">
	<% include ../partial/head %>
	<body>
		<div id="mycontent">
	    	<img src="../images/logoooo.png">
	    	<h1>Welcome to my website</h1>
	    	<h2>My web applications</h2>
	    	<ul>
			    <li>My resume</li>
			    <li id="trigger">My chatroom</li>
	    	</ul>
	    	<button id="send">send</button>
	    	<button id="close">close</button>
	    	<p id="conversation"></p>
	    </div>
		<% include ../partial/scripts %>
	</body>
</html>